/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.categories__list {
    display: flex;
    align-items: center;
}

.category_badge {
    background-color: #4f4fd9;
    color: #fff;
    padding: 5px;
    border-radius: 20px;
    margin: 0 5px;
}

.category__text {
    font-weight: bold;
}

.category_badge > * {
    margin: 0 10px;
}

.product__list {
    background-color: #eee;
    padding: 10px;
    border-radius: 10px;
    margin: 10px 0;
}

.categories {
    display: flex;
    align-items: center;
}


.category {
    background-color: #eee;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    width: 150px;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}