<div id="<%= dom_id category %>">
  <div class="category">
    <%= category.title %>
    <div class="products__found">
      <span>Products: (<%= category.products.count %>)</span>
      <span>Brows Products: <%= link_to category_path(category), category_path(category) %></span>
    </div>
  </div>

</div>
